#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$nOX/hZ1J$1GGrbX9FL/6xBe3PQHqfM1
# System language
lang en_US
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --disabled
# Halt after installation
halt
# System timezone
timezone America/Halifax
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all
# Disk partitioning information
part / --asprimary --fstype="xfs" --size=40960
part /boot --asprimary --fstype="xfs" --size=10240

%packages
@backup-server
@file-server
@ha
@hardware-monitoring
@remote-system-management

%end
