@charset "utf-8";

/* ===============================
Base Styles
===============================

*/

/* ===============================
Mobile Styles: 0px to 480px
===============================
*/
@media only screen and (max-width: 480px) {
	.img *{
		width: 100%;
	}
}

/* ================================
Tablet & Desktop Styles: 481px and greater
================================
*/
@media only screen and (min-width: 481px) {
	article{
		float: left;
		width: 65%;
	}
	article h2{
		text-align: center;
	}
	.img *{
		float: right;
		width: 30%;
		padding-right: 10px;
	}
	
	footer{
		clear: both;
	}
}