@charset "utf-8";

/* ===============================
Base Styles
===============================

*/
table{
	border: 2px outset skyblue;
	border-collapse: collapse;
	width: 100%;
}

article{
	margin: 10px;
}

th, thead td{
	background-color: skyblue;
	color: white;	
}
tr.name th{
	text-align: center;	
	border: 1px skyblue;
}
tbody td{
	border: 1px solid skyblue;
}
th{
	border: 1px solid white;

}
a{
	color: black;
}
a:hover{
	color: skyblue;
	background-color: white;
}

#award{
	max-width: 80%;
}